.loginContainer {
    background-color: coral;
    border: black;
    border-radius: 8px;
}

.loginBtn {
    border: groove;
    border: indigo;
    background-color: lawngreen;
}

#noticeContainer {
    overflow-y: scroll;
    scrollbar-highlight-color: chartreuse;
    scrollbar-shadow-color: crimson;
    scrollbar-track-color: cyan;
    height: 60px;
    width: 40px;
}

.notice {
    height: 40px;
    width: 40px;
}

#noticeContainerOuter {
    padding-top: 60px;
}

h1 {
    
}